.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 1750px;
  height: auto;
  margin: auto;
  margin-top: 260px;
}

.title {
  color: orangered;
  text-shadow: 2px 2px 4px black;
  font-size: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 97%;
  padding: 10px;
  border-radius: 3px;
}

@media (max-width: 730px){
  .container {
    margin-top: 140px;
  }
}
