.faixas-container {
    margin-top: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card-faixas {
    width: 250px;
    height: 330px;
    background-color: rgb(224, 222, 222);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.card-faixas img {
    width: 240px;
    height: 160px;
    align-items: center;
    margin: 15px 2px;
}

.btnOpenImg {
    margin-top: 10px;
    padding: 5px 30px;
    background-color: rgb(255, 186, 186);
    color: darkred;
    border: none;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
}

.btnOpenImg:hover {
    background-color: lightcoral ;
    color: whitesmoke;
}

.card-faixas img:target {
    position:fixed;
    width: 50%;
    top: 300px;
}

.card-faixas p {
    margin: 5px 0px;
}

.imgModal-Faixas {
    border: black 5px solid;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 730px){
    .faixas-container {
        margin-top: 160px;
    }

    .card-faixas {
        width: 150px;
        height: 290px;
        margin-top: 10px;
    }

    .card-faixas img {
        width: 145px;
        height: 100px;
    }

    .btnOpenImg {
        font-size: 0.65em;
    }
}