.footer-container {
    position: fixed;
    bottom: 0;
    background-color: black;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer-container p {
    text-align: center;
    font-size: 0.7em;
    padding: 5px;
    color: white;
}