.footer-container {
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer-container p {
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 15px;
}