.header-container {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.header-container p {
    font-size: 2em;
    font-weight: 700;
    color: orangered;
    text-shadow: rgba(0, 0, 0, 0.891) 3px 3px 4px;
}