@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.home-container {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 70px;
text-align: center;
}

#home-titulos {
    width: 90%;
    font-family: 'Handlee', cursive;
    font-size: 4em;
    padding: 20px5px;
    color: orangered;
    text-shadow: rgba(0, 0, 0, 0.782) 3px 3px 4px;
    margin: 20px;
}

.section-adverts { 
    width: 95%;
    height: 350px;
    background-color: orangered;
    margin-top: 50px;
    border-radius: 6px;
}