@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@keyframes movey {
    from {
        opacity: 0;
        transform: translatey(30%);
        }
    to {
        opacity: 1;
        transform: translatey(0%);
        }
}
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container a:hover {
    font-weight: 900;
    color: rgb(255, 186, 186);
    text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

#ulMenu {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: orangered;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 3px 4px;
}

.menu-container h2 {
    color: black;
    text-shadow: white 2px 2px 3px;
}

#burguer {
    color: white;
    display: flex;
    cursor: pointer;
}

#burguer:hover span {
    color: green;
    text-shadow: white 0px 0px 3px;
}

#burguer p {
    color: white;
    font-size: 1em;
}

.menu-tela a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-shadow: black 1px 1px 4px;
}

.menu-tela span {
    font-size: 1.3em;
}

.menu-tela:hover span {
    color: green;
    text-shadow: white 0px 0px 3px;
    cursor: default;
}

.menu-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 300px;
    list-style: none;
    background-color: orangered;
    border: rgba(0, 0, 0, 0.36) 2px solid;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 3px 4px;
    animation-name: movey;
    animation-duration: 0.7s;
}

#listDiv {
    display: flex;
}

#listDiv p {
    color: white;
    font-size: 1.2em;
    padding: 0px 0px 0px 15px;
}

.menu-mobile li {
    padding: 5px;
}

.menu-mobile a {
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

#tematicos {
    border-left: rgba(255, 255, 255, 0.361) solid 1px;
    margin: 10px;
}

@media (max-width: 730px){
    #ulMenu {
        display: flex;
        justify-content: space-around;
    }

    .menu-container ul {
        justify-content: space-around;
    }

    #burguer {

        color: white;
    }

    .menu-mobile {
        padding: 3px;
    }

    .menu-mobile-link {
        padding:  5px;
    }

    #burguer:hover {
        color: black;
        cursor: pointer;
    }
}