@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');


.menu-container {
    background-color: orangered;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 3px 4px;

}

.menu-container ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    list-style: none;
}

#burguer {
    display: none;
}

.menu-tela {
    margin: 3px 10px;
    
}

.menu-mobile {
    display: none;
}

.menu-container a {
    font-family: 'Open Sans', sans-serif;
    padding: 2px 8px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.menu-container a:hover {
    font-weight: bolder;

    border-bottom: white solid 1px;
}

@media (max-width: 730px){
    .menu-container ul {
        flex-direction: column;
    }

    #burguer {
        display: block;
        color: white;
    }

    .menu-tela {
        display: none;
    }

    .menu-mobile {
        padding: 3px;
    }

    .menu-mobile-link {
        padding:  5px;
    }

    #burguer:hover {
        color: black;
        cursor: pointer;
    }
}