.salgadeiras-container {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card-salgadeiras {
    width: 250px;
    height: 280px;
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.card-salgadeiras img {
    width: 240px;
    align-items: center;
    margin: 15px 2px;
}

.card-salgadeiras p {
    margin: 5px 0px;
}